body {
    font-family: Arial, sans-serif;
	background-color:white;
	margin-top: 100px;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
	color:white;
}

.container2 {
     margin-top: 50px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

#submit-button {
    display: block;
    margin-top: 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#submit-button:hover {
    background-color: #0056b3;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 23px;
}

.navbar a.active {
  background-color: #ff944d;
  color: white;
}


header {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
	padding: 10px 0;

}

nav ul {
    list-style-type: none;
    padding: 0;
	text-align: right;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.footer {
    background-color: #333; /* Background color for the footer */
    color: #fff; /* Text color for the footer */
    padding: 20px; /* Add spacing inside the footer */
    text-align: center; /* Center-align the content in the footer */
	left: 0;
	bottom: 0;
	width:100%;
}

.footer p {
    margin: 0; /* Remove default margin for the paragraph inside the footer */	
}

* {
  box-sizing: border-box;
}

.row {
  margin-left:-5px;
  margin-right:-5px;
}
  
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 16px;
}

 .parent {
        position: relative;
        top: 0;
        left: 0;
      }
      .image1 {
        position: relative;
        top: 0;
        left: 0;
        border: 1px solid #000000;
      }
      .image2 {
        position: absolute;
        top: 150px;
        left: 150px;
      }
	  
.parent1 {
        position: relative;
        top: 0;
        left: 0;
      }
      .image11 {
        position: relative;
        top: 0;
        left: 0;
        border: 1px solid #000000;
      }
      .image21 {
        position: absolute;
        top: 150px;
        left: 150px;
      }
	  
.parent2 {
        position: relative;
        top: 0;
        left: 0;
      }
      .image12 {
        position: relative;
        top: 0;
        left: 0;
        border: 1px solid #000000;
      }
      .image22 {
        position: absolute;
        top: 150px;
        left: 150px;
      }
	  
.image2 {
	background-color: rgba(0,128,0,0.4); 
	height:500px;
	width:300px;
	color:white;
	font-family:Papyrus;
}
	  
.image21 {
	background-color: rgba(128,0,0,0.4); 
	height:500px;
	width:300px;
	color:white;
	font-family:Papyrus;
}

.image22 {
	background-color: rgba(0,0,0,0.5); 
	height:500px;
	width:300px;
	color:white;
	font-family:Papyrus;
}

main {
    padding: 20px;
}