body {
	background-image: url('283-2838999_beach-house-wallpaper-hd-data-src-beach-house.jpg');
}

* {
  box-sizing: border-box;
}

.row {
  margin-left:-5px;
  margin-right:-5px;
}
  
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width:90%;
  background-color:transparent;
}

th {
  text-align: left;
  padding: 16px;
  color:white;
  font-size:30px;
  font-family: Papyrus;
}

td {
  text-align: left;
  padding: 16px;
  color:white;
  font-size:20px;
  font-family: Papyrus;
}

header {
          
            color: #fff;
            text-align: left;
            font-family: Lucida Handwriting, Cursive;
            font-size: 15px;
        }

header img {
            max-width: 4%;
        }

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: right;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.navbar {
  overflow: hidden;
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: left;
  margin-left: -8px;
}

.navbar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Arial, sans-serif;
}

.navbar a:hover {
  background: #bfbfbf;
  color: white;
}

.navbar a.active {
  background-color: #04AA6D;
  color: white;
}

 header img {
            max-width: 4%;
        }

.footer {
    background-color: #333; /* Background color for the footer */
    color: #fff; /* Text color for the footer */
    padding: 20px; /* Add spacing inside the footer */
    text-align: center; /* Center-align the content in the footer */
	position: fixed;
	left: 0;
	bottom: 0;
	width:100%;
}

.footer p {
    margin: 0; /* Remove default margin for the paragraph inside the footer */	
}

table.scrolldown {
            width: 100%;
            border-spacing: 0;
}

table.scrolldown tbody, table.scrolldown thead {
            display: block;
        } 
          
        thead tr th {
            height: 40px; 
            line-height: 40px;
        }
          
        table.scrolldown tbody {
              
            /* Set the height of table body */
            height: 500px; 
              
            /* Set vertical scroll */
            overflow-y: auto;
              
            /* Hide the horizontal scroll */
            overflow-x: hidden; 
        }
          
        tbody td, thead th {
            width : 200px;
        }